html {
    width: 100%;
    height: 100%;
}

.login-form, .register-form {
    margin: auto;
    margin-top: 200px;
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    padding:  10px 40px 40px 40px;
    box-sizing: border-box;
}

.login-form > p, .register-form > p {
    font-size: 24px;
    font-weight: 600px;
}

input {
    box-sizing: border-box;
    width: 100%;
    height: 46px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 20px;
    margin-top: 20px;
    font-size: 16px;
}

input:focus {
    outline: none !important;
    border: 1px solid #1a73e8;
}

input.wrong-input {
    outline: none !important;
    border: 1px solid red;
}

p.wrong-input {
    font-size: 14px;
    color: red;
    text-align: left;
    margin-block-start: 5px;
    margin-block-end: 0;
}

input:first-child {
    margin-top: 0;
}

input[name="submit"] {
    width: 100px;
    height: 40px;
    background-color: #1a73e8;
    border: none;
    color: white;
    margin-bottom: 0;
}

p.resgister {
    font-size: 14px;
    margin-block-start: 20px;
    margin-block-end: 0;
}
